<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnnymolina.imgurworkout" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.johnnymolina.imgurworkout.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.PlaylistActivity"
            android:label="@string/title_activity_playlist"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activities.Imgur"
            android:label="@string/import_activity_title"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.MainLibraryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.LibraryAlbumViewerActivity"
            android:label="@string/title_activity_library_image_viewer"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.Settings"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.LogActivity"
            android:label="@string/title_activity_log"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="com.johnnymolina.imgurworkout.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>
